.container {
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 120px;
  margin-top: 120px;
  padding-bottom: 120px;
}

/* Card Component Style */
.cardContainer {
  width: 410px;
  height: 220px;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
}

.cardContainer:hover {
  border-width: 0;
  cursor: pointer;
  box-shadow: 2px 10px 40px #dbdee1;
}

.solutionTitleCard {
  font-size: 18px;
  font-weight: 600;
  margin-top: 12px;
}

.solutionSubTitleCard {
  margin-top: 8px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
}

.icon {
  width: 20px;
  height: 20px;
}

.lowerButtonContainer {
  display: flex;
  position: absolute;
  bottom: 0;
  padding-bottom: 15px;
}

.lowerButton {
  font-size: 12px;
  font-weight: 600;
}

.iconBottom {
  height: 12px;
  margin-left: 5px;
  margin-top: 1px;
  width: auto;
}

@media only screen and (max-width: 1440px) {
  .cardContainer {
    width: 380px;
  }
}

@media only screen and (max-width: 1350px) {
  .cardContainer {
    width: 340px;
    height: 250px;
  }
}

@media only screen and (max-width: 1230px) {
  .cardContainer {
    width: 100%;
    height: 250px;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .cardContainer {
    width: 100%;
    height: 250px;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top:80px;
    padding-bottom: 80px;
  }
}