.header {
    font-size: 60px;
    text-align: center;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contactButton {
    font-size: 20px;
    margin-top: 10px;
    font-weight: 500;
}

.contactButton:hover {
    font-weight: 700;
}

.logo {
    position: absolute; /* Absolute positioning */
    bottom: 20px; /* 20 pixels from the bottom */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Offset to the left by 50% of its own width */
    font-weight: 600;
}

@media only screen and (max-width: 475px) {
    .header {
        font-size: 50px;
    }
}
