.container {
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 50px;
    padding-right: 50px;
}

.ourWorkCardsContainer {
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 100px;
    padding-right: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 0px;
    place-items: center;
}

/* Mobile styles */
@media (max-width: 1450px) {
    .ourWorkCardsContainer {
        grid-template-columns: repeat(3, 1fr); /* Two columns for tablet */
        grid-gap: 20px 0px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 1000px) {
    .ourWorkCardsContainer {
        grid-template-columns: repeat(2, 1fr); /* Two columns for tablet */
        grid-gap: 20px 0px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 780px) {
    .ourWorkCardsContainer {
        grid-template-columns: 1fr; /* Single column for mobile */
        padding-left: 10px;
        padding-right: 10px;
    }
}