.container {
  padding-top: 50px;
  padding-left: 150px;
  padding-right: 100px;
  padding-bottom: 125px;
}

.header {
  font-size: 50px;
}

.subHeader {
  margin-top: 5px;
  font-size: 18px;
  width: 450px;
  line-height: 28px;
}

@media only screen and (max-width: 800px) {
  .subHeader {
    width: 100%;
  }
}

@media only screen and (max-width: 650px) {
  .container {
    padding: 0px;
    padding-bottom: 50px;
    padding-top: 50px;
  }

  .header {
    text-align: center;
    font-size: 48px;
  }

  .subHeader {
    text-align: center;
    font-size: 16px;
  }
}


