.container {
  padding-left: 100px;
  padding-right: 100px;
  border-top: solid 1px;
  border-bottom: solid 1px;
  padding-top: 100px;
  padding-bottom: 50px;
}

.title {
  font-size: 35px;
  font-weight: bold;
}

.subTitle {
  font-size: 18px;
  font-weight: 400;
  width: 360px;
  margin-top: 10px;
  line-height: 25px;
}

.upperContainer {
  display: flex;
  justify-content: space-between;
}

/* Pricing Option Styling */
.priceTitle {
  font-size: 18px;
  font-weight: 600;
}

.outerContainer {
}

.buttonContainer:hover {
  box-shadow: 2px 10px 50px #595959;
}

.priceContainer {
  display: flex;
  justify-content: space-between;
  width: 240px;
  height: 55px;
  padding: 15px 15px;
  border-radius: 10px;
}

.optionTitle {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

.allButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

/* Line Criteria Header Styling */
.criteriaHeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  border-radius: 10px;
  margin-top: 20px;
}

.innerHeaderCriteria {
  display: flex;
  align-items: center;
  width: 360px;
}

.criteriaHeaderTitle {
  font-size: 26px;
  font-weight: 600;
}
.criteriaSubHeaderTitle {
  font-size: 14px;
  font-weight: 400;
}

.subHeaderContainer {
  width: 240px;
  display: flex;
  justify-content: center;
}

/* Line Criteria Styling */
.criteriaContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  border-radius: 10px;
}

.innerCriteria {
  display: flex;
  align-items: center;
  width: 360px;
  padding-left: 20px;
}

.questionIcon {
  height: 18px;
  width: auto;
}

.criteriaTitle {
  font-size: 18px;
  font-weight: 500;
  margin-left: 10px;
}

.benefitsCheck {
  height: 18px;
  width: auto;
}

.iconContainer {
  width: 240px;
  display: flex;
  justify-content: center;
}
