.container {
  padding-top: 80px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 45px;
  font-weight: 600;
  text-align: center;
}

.subTitle {
  margin-top: 5px;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  line-height: 28px;
  width: 600px;
}

.lowerContainer {
    height: 50px;
}