.container {
  display: flex;
  justify-content: space-between;
  padding-top: 140px;
  padding-bottom: 180px;
  padding-right: 90px;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.leftContainer {
  width: 60%;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.title {
  font-size: 25px;
}

.subtitle {
  padding-top: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 20px;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
}

.item {
  flex: 0 0 calc(50% 0 10px);
  margin: 5px;
  box-sizing: border-box;
  margin-top: 28px;
}

/* More Info Check Down Element */
.topContainer {
  display: flex;
  align-items: center;
}

.textButtonIcon {
  height: 25px;
  width: auto;
}

.checkTitle {
  font-size: 18px;
  margin-left: 10px;
}

.checkDescription {
  font-size: 14px;
  margin-left: 35px;
  width: 300px;
  font-weight: 400;
  margin-top: 3px;
  line-height: 18px;
}
