.container {
  height: 280px;
  width: 320px;
  border-radius: 20px;
  border-width: 1px;
  transition: border-color box-shadow 0.3s ease-in-out;
}

.container:hover {
  border-color: transparent !important;
  cursor: pointer;
  box-shadow: 2px 10px 40px #acaeb0;
}


.imageElement {
  background-size: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 230px;
  width: 320px;
}

.titleContainer {
  position: relative;
  padding: 4% 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.titleContent {
  display: flex;
  justify-content: space-between;
}

.name {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 5px;
}

.type {
  font-size: 11px;
}

@media only screen and (max-width: 550px) {
  .container {
    height: 260px;
    width: 300px;
    border-radius: 20px;
    border-width: 1px;
    transition: border-color box-shadow 0.3s ease-in-out;
  }

  .imageElement {
    background-size: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 210px;
    width: 300px;
  }

}