.container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding-left: 12%;
  padding-right: 12%;
}

.description {
  width: 500px;
  line-height: 30px;
  margin-top: 8px;
}

.header {
  font-size: 40px;
  width: 500px;
  padding-bottom: 5px;
}

.imageSize {
  width: auto;
  height: 550px;
}

/* Responsive Styling */
@media (max-width: 1200px) {
  .header {
    font-size: 35px;
  }

  .imageSize {
    height: 450px;
  }
}

@media (max-width: 1100px) {
  .container {
    flex-direction: column;
  }

  .imageContent {
    order: 2;
  }

  .textContent {
    order: 1;
  }

  .description {
    width: 700px;
  }

  .header {
    width: 500px;
    padding-bottom: 10px;
  }

  .imageSize {
    height: 400px;
  }
}

@media (max-width: 800px) {
  /*.header {*/
  /*  font-size: 30px;*/
  /*}*/

  .description {
    width: 550px;

  }

  .imageSize {
    height: 350px;
  }
}

@media (max-width: 600px) {
  .header {
    width: 400px;

  }

  .description {
    font-size: 14px;
    width: 400px;
  }

  .imageSize {
    height: 400px;
  }
}