.container {
  height: 325px;
  width: 300px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
}

.container:hover {
  cursor: pointer;
  box-shadow: 2px 10px 40px #acaeb0;
}

.imageContainer {
  height: 255px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.imageElement {
  background-size: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 255px;
  width: 100%;
}

.titleContainer {
  position: relative;
  padding-left: 20px;
  padding-top: 4%;
}

.name {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 5px;
}

.type {
  font-size: 11px;
}

@media (max-width: 700px) {
  .container {
    height: 326px;
    width: 340px;
  }

  .imageElement {
    height: 251px;
  }

  .imageContainer {
    height: 254px;
  }
}