.container {
  height: 315px;
  width: 399px;
  border-radius: 25px;
  transition: border-color box-shadow 0.3s ease-in-out;
}

.container:hover {
  cursor: pointer;
  box-shadow: 2px 10px 40px #acaeb0;
}

.imageContainer {
  height: 240px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.imageElement {
  background-size: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 240px;
  width: 100%;
}

.titleContainer {
  position: relative;
  padding-left: 20px;
  padding-top: 4%;
}

.name {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 5px;
}

.type {
  font-size: 11px;
}

@media only screen and (max-width: 1320px) {
  .container {
    height: 266px;
    width: 340px;
  }

  .imageContainer {
    height: 191px;
  }

  .imageElement {
    height: 191px;
  }
}

@media only screen and (max-width: 1120px) {
  .container {
    height: 234px;
    width: 290px;
  }

  .imageContainer {
    height: 165px;
  }

  .imageElement {
    height: 165px;
  }
}

@media only screen and (max-width: 975px) {
  .container {
    height: 277px;
    width: 340px;
  }

  .imageContainer {
    height: 202px;
  }

  .imageElement {
    height: 202px;
  }
}