.container {
  padding: 100px;
  border-bottom: 1px solid;
}

.bySolutionCardContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
}

.solutionTitle {
  font-size: 35px;
  font-weight: bold;
}

.allButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

/* By Solution Card Style */
.cardContainer {
  width: 270px;
  height: 270px;
  border-radius: 10px;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 80px;
}

.cardContainer:hover {
  border-width: 0;
  background-color: #ffffff;
  cursor: pointer;
  box-shadow: 2px 10px 40px #dbdee1;
}

.cardTitle {
  font-size: 28px;
}

.cardDescription {
  font-size: 18px;
  font-weight: 400;
  padding-top: 10px;
}

.lowerButtonContainer {
  display: flex;
  position: absolute;
  bottom: 0;
  padding-bottom: 20px;
}

.lowerButton {
  font-size: 12px;
  font-weight: 600;
}

.iconBottom {
  height: 12px;
  margin-left: 5px;
  margin-top: 1px;
  width: auto;
}

@media (max-width: 1300px) {
  .cardContainer {
    width: 240px;
    height: 240px;
    padding-top: 60px;
  }

  .cardTitle {
    font-size: 25px;
  }

  .cardDescription {
    font-size: 16px;
  }
}

@media (max-width: 1180px) {
  .cardContainer {
    width: 270px;
    height: 270px;
    padding-top: 80px;
  }

  .cardTitle {
    font-size: 28px;
  }

  .cardDescription {
    font-size: 18px;
  }

  .bySolutionCardContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates two columns */
    gap: 20px; /* Adjust the gap as needed */
    padding-top: 35px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 620px) {
  .cardContainer {
    width: 320px;
    height: 320px;
    padding-top: 95px;
  }

  .cardTitle {
    font-size: 30px;
  }

  .cardDescription {
    font-size: 20px;
  }

  .bySolutionCardContainer {
    display: flex;
    flex-direction: column;
    padding-top: 35px;
  }

  .container {
    padding: 80px 0;
  }
}