.footerContainer {
    padding-top: 70px;
    padding-left: 5%;
    padding-right: 5%;
}

.bodyContainer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.title {
    font-size: 60px;
    margin-left: 5%;
}

.subTitle {
    font-size: 20px;
}

.description {
    font-size: 18px;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contentContainer {
    display: flex;
    gap: 50px;
    margin-right: 5%;
}

.divider {
    width: 100%;
    border-top: 1px solid;
    padding-bottom: 35px;
}

.lowerContainer {
    padding-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyRightText {
    font-size: 16px;
}

.footerIcon {
    width: auto;
    height: 20px;
}

.iconBox {
    display: flex;
    gap: 15px;

}

.iconContainer {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.iconContainer:hover {
    cursor: pointer;
}

.dividerMobile {
    display: none;
    width: 100%;
    border-top: 1px solid;
    padding-bottom: 35px;
}

/* Existing CSS */
/* ... */

/* Mobile Styling */
@media (max-width: 850px) { /* Adjust this breakpoint as needed */
    .bodyContainer {
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px; /* Adjusted for mobile */
    }

    .title {
        margin-left: 0; /* Removes the left margin on mobile */
        font-size: 50px; /* Smaller font size for mobile */
        text-align: center; /* Center the title if needed */
        margin-bottom: 10px;
    }

    .subTitle {
        font-size: 17px;
    }

    .description {
        font-size: 14px;
    }

    .dividerMobile {
        display: revert;
        width: 50%;
    }

    .divider {
        display: none;
    }

    .contentContainer {
        /*flex-direction: column;*/
        gap: 30px; /* Reduced gap for mobile */
        margin-right: 0; /* Removes the right margin on mobile */
        align-items: top; /* Aligns content to the center */
        text-align: center;
    }

    .titleContainer {
        /* If needed, add specific styles for titleContainer on mobile */
    }

    .lowerContainer {
        flex-direction: column; /* Stacks elements vertically */
        gap: 20px; /* Adds a gap between elements */
    }

    .iconBox {
        justify-content: center; /* Centers the icons */
    }
}

/* Additional mobile-specific styles can be added as needed */
