
/* Hero Section Style */
.heroContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* width: 60%; */
    /* margin: 0 auto; */
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .title {
    font-size: 58px;
    font-weight: bold;
    text-align: center;
  }
  
  .subTitle {
    width: 80%;
    font-size: 24px;
    text-align: center;
    margin-top: 5px;
  }
  
  .ctaContainer {
    display: flex;
    justify-content: center;
    gap: 13px;
    margin-top: 35px;
  }